### Practicing Data cleaning 

1. Import libraries 
2. Import data set 
3. check problems

In [6]:
import numpy as np
import pandas as pd

In [58]:
car = pd.read_csv("quikr_car.csv"); 
car.head(2);

In [59]:
## Starting with Name 

car['name'] 
car['name'].isnull().sum() ## this data have no null values 
## this data have full name of car but our work can be done with First 3 Words 

car ['name'] =  car['name'].str.split(' ').str.slice(0,3).str.join(' ')
car['name']
 
## Name is Correct

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
2          Maruti Suzuki Alto
3           Hyundai Grand i10
4      Ford EcoSport Titanium
                ...
887                        Ta
888              Tata Zest XM
889        Mahindra Quanto C8
890           Honda Amaze 1.2
891        Chevrolet Sail 1.2
Name: name, Length: 892, dtype: object

In [37]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [ ]:
car['company'].unique() ## We will do it this in last

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [60]:
# Car - year 
'''
- Problems 
1. This data have non Interger values [remove them] 
2. Change this into a int   
-- We will Filter the numberic values and put them in car['year]
'''
car['year'].unique(); 
# car[~car['year'].str.isnumeric()] ## This return all the values that don't have non-int values 
# car[car['year'].str.isalpha()]

# car['year'] = car['year'].str.isnumeric()

car = car[car['year'].str.isnumeric()]

In [65]:
car.head(2)
car['year'] = car['year'].astype(int)
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [71]:
car['year'].isna().sum()

np.int64(0)

In [ ]:
'''
---- Name and Year are Processed 
- Now we will Do Price Processing 
- problems 1. remove [Ask For Price] 
2. And remove the ',' and convert it into a int type
'''

car['Price'].unique()
car = car[car['Price'] != 'Ask For Price'] ## agar price iske == na ho toh usko price m dal do 
car['Price'].unique()

car['Price']=car['Price'].str.replace(',','').astype(int)

"\n---- Name and Year are Processed \n- Now we will Do Price Processing \n- problems 1. remove [Ask For Price] \n2. And remove the ',' and convert it into a int type\n"

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [89]:
'''
---- Name , Price , Year have been preprocessed. Remaining - Kms_driven, Fuel_Type, Company 
NOW -- KMS_driven 
Problems - 1. remove kms 
2. remove ','
3. remove nan
'''
car['kms_driven'].isnull().sum()

np.int64(0)